* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
   
}
h1 {
    margin:.5em;
    padding-left:.5em;
    color:steelblue;
}
img {
    width:100%;
}
nav {
    width:100%;
    margin:0 1em;
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    
}
nav ul li {
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    font-size:1.8rem;
    color:steelblue;
}

nav ul li a:hover {
    color:black;


}